    <!-- Navigation -->
    <nav class="nav" id="mainNav">
        <a href="#/" class="nav-logo" data-route="/">
            Александр Л. Овчинников
            <span>Официальный цифровой архив художника</span>
        </a>
        <ul class="nav-center">
            <li><a href="#/artist" data-route="/artist">О художнике</a></li>
            <li><a href="#/exhibition" data-route="/exhibition">Выставки</a></li>
            <li><a href="#/works" data-route="/works">Работы</a></li>
            <li><a href="#/digital" data-route="/digital">Темы</a></li>
            <li><a href="#/digital/animated" data-route="/digital/animated">Маршруты</a></li>
            <li><a href="#/digital/workshop" data-route="/digital/workshop">Графика</a></li>
                    <li><a href="#/contacts" data-route="/contacts">Книга памяти</a></li>
        </ul>
        <div class="nav-right">
            <a href="#/exhibition" class="nav-btn" data-route="/exhibition">Архив выставки</a>
            <button class="nav-burger" id="burgerBtn" aria-label="Меню">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
