    <!-- Navigation -->
    <nav class="nav" id="mainNav">
        <a href="#/" class="nav-logo" data-route="/">
            Пространство памяти
            <span>Выставка Л.А. и А.Л. Овчинниковых</span>
        </a>
        <ul class="nav-center">
            <li><a href="#/artist" data-route="/artist">Художник</a></li>
            <li><a href="#/exhibition" data-route="/exhibition">Выставка</a></li>
            <li><a href="#/works" data-route="/works">Работы</a></li>
            <li><a href="#/digital" data-route="/digital">Цифровое пространство</a></li>
            <li><a href="#/visit" data-route="/visit">Посещение</a></li>
            <li><a href="#/contacts" data-route="/contacts">Контакты</a></li>
        </ul>
        <div class="nav-right">
            <a href="#/visit" class="nav-btn" data-route="/visit">Посещение</a>
            <button class="nav-burger" id="burgerBtn" aria-label="Меню">
                <i class="fa-solid fa-bars"></i>
            </button>
        </div>
    </nav>
