    <!-- Mobile menu -->
    <div class="mobile-menu" id="mobileMenu">
        <a href="#/artist" data-route="/artist">О художнике</a>
        <a href="#/exhibition" data-route="/exhibition">Выставки</a>
        <a href="#/works" data-route="/works">Работы</a>
        <a href="#/digital" data-route="/digital">Темы</a>
        <a href="#/digital/animated" data-route="/digital/animated">Маршруты</a>
        <a href="#/digital/workshop" data-route="/digital/workshop">Графика</a>
            <a href="#/contacts" data-route="/contacts">Книга памяти</a>
    </div>
